<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Categorias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="/">
                <button style="color:black; background: #09d914; width: 100px; height:30px">INICIO</button>
            </a>
        </section>
        <img src="{% static 'img/logo.png' %}" width="70">
    </nav>
    <main>
        <h2>{{carrito}}</h2><br>
    <main id="categorias1">
    
        <div class="container-fluid">

            <div class="row">

                <div class="col text-center">
                    <div class="row">
                        <br>
                        <h2>Descripcion del Balon</h2><br><br>
                        <p style="font-weight: 650;">
                           El balon es de las mejores especificaciones y tecnologia posible para el mejor desempeño de los futbolistas en el terreno de juego
                        </p><br>
                        <img class="py-3" style=" margin-right: 5%; margin-left: 15%; width: 400px;height: 300px;  " src="{% static 'img/Detalles/balon3.jpg' %}" alt="">
                    </div>
                    <div class="row">
                        <form class="py-2 row" style="display:inline-block">
                    
                            <Strong style="height: 5px; font-weight:900">Cantidad: </Strong>
                            <input style="width: 60px;" name="cantidad" type="number" placeholder="#" required>
                            
                        </form>
                        <a href="/categorias/"><button type="submit" style="border-style: groove; border-color:black"><p style="font-weight: 600; font-size:larger">Realizar Compra</p></button></a>
                    </div>    

                </div> 

                <div class="col ms-5">
                    <br>
                    <h2>Producto de nuestra tienda</h2><br>
                    <div style="margin: 20px;">

                        <div style="position: relative;width: 100%; height: 100vh; overflow: hidden;">

                            <img style="width: 500px; height:500px" src="{% static 'img/Detalles/balon3.jpg' %}" alt="Imagen 1" class="superpuesta img1">
                            <img style="width: 500px; height:500px" src="{% static 'img/Detalles/balon4.jpeg' %}" alt="Imagen 2" class="superpuesta img2">
                            <img style="width: 500px; height:500px" src="{% static 'img/Detalles/balon5.jpg' %}" alt="Imagen 3" class="superpuesta img3">
                            
                        </div>

                </div>

                </div>

            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>