<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="/">
                <button style="color:black; background: #09d914; width: 100px; height:30px">INICIO</button>
            </a>
        </section>
        <img src="{% static 'img/logo.png' %}" width="70">
    </nav>
    <main id="pagCategorias">
        <section>
            <h2>Balones de Futbol</h2>
            <a href="{% url 'infoCategorias' 'Balones de Futbol Categoria 1' %}">
                <button>Ver +</button>
            </a>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Productos/balon1.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 1</p>
                        <p><strong>Precio: </strong>$ 200000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <a href="{% url 'carrito' 'Balon' %}"><img src="{% static 'img/Productos/balon2.jpg' %}"></a>
                    <div>
                        <p><strong>Nombre: </strong>Balon 2</p>
                        <p><strong>Precio: </strong>$ 150000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Guayos</h2>
            <a href="infoCategorias">
                <button>Ver +</button>
            </a>
            <div id="categoria">
                <div id="subCategoria">
                    <img style="width: 500px; height: 250px" src="{% static 'img/Productos/guayo1.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Guayo 1</p>
                        <p><strong>Precio: </strong>$ 300000</p>
                        <p><strong>Categoria: </strong>Categoria 2</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img style="width: 500px; height: 250px" src="{% static 'img/Productos/guayo2.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Guayo 2</p>
                        <p><strong>Precio: </strong>$ 250000</p>
                        <p><strong>Categoria: </strong>Categoria 2</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>