<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Categorias</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="/">
                <button style="color:black; background: #09d914; width: 100px; height:30px">INICIO</button>
            </a>
        </section>
        <img src="{% static 'img/logo.png' %}" width="70">
    </nav>
    <main>
        <section class="infoCat">
            <br>
            <h2>{{categoria}}</h2>
            <br>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Productos/balon1.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 1</p>
                        <p><strong>Precio: </strong>$ 200000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Productos/balon2.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 2</p>
                        <p><strong>Precio: </strong>$ 150000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div id="categoria">
                <div id="subCategoria">
                    <a href="{% url 'carrito' '°' %}"><img src="{% static 'img/Detalles/balon3.jpg' %}"></a>
                    <div>
                        <p><strong>Nombre: </strong>Balon 3</p>
                        <p><strong>Precio: </strong>$ 210000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Detalles/balon4.jpeg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 4</p>
                        <p><strong>Precio: </strong>$ 230000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Detalles/balon5.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 5</p>
                        <p><strong>Precio: </strong>$ 170000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Detalles/balon6.jpg' %}">
                    <div>
                        <p><strong>Nombre: </strong>Balon 6</p>
                        <p><strong>Precio: </strong>$ 270000</p>
                        <p><strong>Categoria: </strong>Categoria 1</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>