<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-image: url("{% static 'img/fondo.jpg' %}"); 
            background-position: center;
            background-size: auto;
        }
    </style>
</head>
<body>
    <div class="container" style="display: flex; align-items: center; justify-content: center; height: 100vh; width:400px; margin: 0;">
        <header id="log" style="opacity: 0.9; background:black; color:white; font-family: 'Times New Roman', Times, serif;">
            <section>
                <img src="{% static 'img/logo.png' %}" style="height: 100px; width:100px"> 
                <hr>
                <h1 style="color: white; ">TECNO GAME</h1>
                <hr>
                <h4 style="text-align: center; color:white">INICIAR SESION</h4>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <strong>Usuario: </strong>
                        <input style="width: 194px;" name="usuario" type="text" required>
                    </div>
                    <div>
                        <strong>Contraseña: </strong>
                        <input name="contraseña" type="password" required>
                    </div>
                    
                    <p><button style="width: 100px; height:30px; font-family: 'Times New Roman', Times, serif; font-size:15px" class="boton" type="submit">Iniciar Sesion</button>
                </form>
                <a href="/registro"><button style="width: 100px; height:30px" class="boton">REGISTRARSE</button></a></p>
                <p>{{ error }}</p>
            </section>
            
        </header>
    </div>
    <main>
    </main>
</body>
</html>