<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-image: url("{% static 'img/fondo2.jpg' %}"); 
            background-position: center;
            background-size:auto;
        }
    </style>
</head>
<body>
    <div class="container" style="height: 500px;">
        <header id="log" style="opacity: 0.8; background:black; color:white; font-family: 'Times New Roman', Times, serif;">
            <section style="margin: 30px;">
                <img src="{% static 'img/logo.png' %}" style="height: 100px; width:100px; opacity:1"> 
                <hr>
                <h1 style="color: white; ">TECNO GAME</h1>
                <hr>
                <h2 style="text-align: center; color:white">REGISTRO</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Nombres: </strong>
                        <input style="width: 215px;" name="nombre" type="text" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Primer Apellido: </strong>
                        <input style="width: 167px;" name="priApellido" type="text" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Segundo Apellido </strong>
                        <input style="width: 163px;" name="segApellido" type="text" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Correo: </strong>
                        <input style="width: 230px;" name="correo" type="email" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Edad: </strong>
                        <input style="width: 230px;" name="edad" type="text" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Usuario: </strong>
                        <input style="width: 224px;" name="usuario" type="text" required>
                    </div>
                    <div class="dat" style="margin-right: 10px;">
                        <strong>Contraseña: </strong>
                        <input style="width: 200px;" name="contraseña" type="password" required>
                    </div>
                    <p style="text-align: center;"><button style="width: 100px; height:30px; font-weight: bolder;" type="submit">Registrarse</button>
                    
                </form>
                <div style="justify-content: center;">
                    <a href="/"><button style="width: 100px; height:30px; font-weight: bolder;">LOGIN</button></a></p>
                    <p>{{error}}</p>
                </div>
            </section>
        </header>
    </div>
    </body>
    <main>
    </main>
</body>
</html>