<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background: #3d583d;">
    <nav>
        <img src="{% static 'img/logo.png' %}" width="100">
        <h2>&nbsp;&nbsp;&nbsp;TECNOGAME</h2>
    </nav>
    
    <p style="display:flex; justify-content: center;"><a style="color: black; font-weight: bold; text-decoration:none" href="/tienda/#videojuegos">VIDEOJUEGOS</a><a style="color: black; font-weight: bold; text-decoration:none" href="/tienda/#controles">&nbsp;&nbsp;&nbsp;CONTROLES</a><a style="color: black; font-weight: bold;text-decoration:none" href="/tienda/#teclados">&nbsp;&nbsp;&nbsp;TECLADOS</a><a style="color: black; font-weight: bold;text-decoration:none" href="/tienda/#auriculares">&nbsp;&nbsp;&nbsp;AURICULARES</a><a style="color: black; font-weight: bold;text-decoration:none" href="/tienda/#monitores">&nbsp;&nbsp;&nbsp;MONITORES</a></p>
    <main>

    <main style="background: #8a9e8a;" id="categorias1">
    
        <div class="container-fluid">

            <div class="row">

                <div class="col text-center">
                    <div class="row">
                        <br>
                        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">FC 24</h1><br><br>
                        <p style="font-weight: 650;">
                            EA SPORTS FC 24 es un juego de fútbol que marca una nueva era en la experiencia futbolística. Con más de 19,000 futbolistas con licencia, más de 700 equipos y más de 30 ligas, ofrece una amplia variedad de contenido. Además, utiliza la tecnología HyperMotionV y un revolucionario motor para brindar una experiencia de juego más realista y emocionante. Los jugadores pueden disfrutar de estilos de juego personalizados y comportamientos realistas de los futbolistas.
                        </p><br>
                        <img class="py-3" style="justify-content:center; margin-right: 5%; margin-left: 9%; width: 500px;height: 400px;  " src="{% static 'img/Elements/fc.jpg' %}" alt="">
                    </div>
                    <div class="row">
                        <form class="py-2 row" style="display:inline-block">
                    
                            <Strong style="height: 5px; font-weight:900">Cantidad: </Strong>
                            <input style="width: 60px;" name="cantidad" type="number" placeholder="#" required>
                            
                        </form>
                        <a href="/tienda/"><button type="submit" style="border-style: groove; border-color:black"><p style="font-weight: 600; font-size:larger;">Comprar</p></button></a>
                    </div>    

                </div> 

                <div class="col ms-5">
                    <br>
                    <h2>Productos de nuestra tienda</h2><br>
                    <section id="videojuegos">
                        <div id="categoria">
                            <div id="subCategoria">
                                <p style="font-weight: bold;"><img src="{% static 'img/Elements/control4.jpg' %}" style="height: 250px;">Controles<a href="/tienda/#controles"><button>Ver mas</button></a></p>
                                
                            </div>
                            <div id="subCategoria">
                                <p class="ms-3" style="font-weight: bold;"><img src="{% static 'img/Elements/teclado1.jpg' %}" style="height: 250px;">Teclados<a href="/tienda/#teclados"><button>Ver mas</button></a></p>
                            </div>
                        </div>
                        <div id="categoria">
                            <div id="subCategoria">
                                <p style="font-weight: bold;"><img src="{% static 'img/Elements/audi1.jpeg' %}" style="height: 250px;">Auriculares<a href="/tienda/#auriculares"><button>Ver mas</button></a></p>
                            </div>
                            <div id="subCategoria">
                                <p class="ms-3" style="font-weight: bold;"><img src="{% static 'img/Elements/monitor1.jpg' %}" style="height: 250px; width:700px">Monitores<a href="/tienda/#monitores"><button>Ver mas</button></a></p>
                            </div>
                        </div>
                    </section>

                </div>

            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>