<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background: #3d583d;">
    <nav>
        <img src="{% static 'img/logo.png' %}" width="100">
        <h2>&nbsp;&nbsp;&nbsp;TECNOGAME</h2>
    </nav>
    
    <p style="display:flex; justify-content: center;"><a style="color: black; font-weight: bold; text-decoration:none" href="#videojuegos">VIDEOJUEGOS</a><a style="color: black; font-weight: bold; text-decoration:none" href="#controles">&nbsp;&nbsp;&nbsp;CONTROLES</a><a style="color: black; font-weight: bold;text-decoration:none" href="#teclados">&nbsp;&nbsp;&nbsp;TECLADOS</a><a style="color: black; font-weight: bold;text-decoration:none" href="#auriculares">&nbsp;&nbsp;&nbsp;AURICULARES</a><a style="color: black; font-weight: bold;text-decoration:none" href="#monitores">&nbsp;&nbsp;&nbsp;MONITORES</a></p>
    <main style="background: #8a9e8a;" id="pagCategorias">
        <section id="videojuegos">
            <h2>VIDEOJUEGOS</h2>
            <div id="categoria">
                <div id="subCategoria">
                    <a href="/detalles"><img src="{% static 'img/Elements/fc.jpg' %}" style="height: 250px;"></a>
                    <div>
                        <p><strong>Nombre: </strong>FC 24</p>
                        <p><strong>Precio: </strong>$ 230000</p>
                        <p><strong>Categoria: </strong>Videojuegos</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/fortnite.png' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>Fortnite</p>
                        <p><strong>Precio: </strong>$ GRATIS</p>
                        <p><strong>Categoria: </strong>Videojuegos</p>
                    </div>
                </div>
            </div>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/gta.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>GTA VI</p>
                        <p><strong>Precio: </strong>$ 300000</p>
                        <p><strong>Categoria: </strong>Videojuegos</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/nfs.jpg' %}" style="height: 250px; width:700px">
                    <div>
                        <p><strong>Nombre: </strong>NEED FOR SPEED</p>
                        <p><strong>Precio: </strong>$ 200000</p>
                        <p><strong>Categoria: </strong>Videojuegos</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="controles">
            <h2>CONTROLES</h2>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/control4.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>DUALSHOCK 4</p>
                        <p><strong>Precio: </strong>$ 240000</p>
                        <p><strong>Categoria: </strong>Controles</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/dualsense.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>DUALSENSE</p>
                        <p><strong>Precio: </strong>$ 300000</p>
                        <p><strong>Categoria: </strong>Controles</p>
                    </div>
                </div>
            </div>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/controlxbox.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>CO. XBOX ONE</p>
                        <p><strong>Precio: </strong>$ 250000</p>
                        <p><strong>Categoria: </strong>Controles</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/controlxboxsx.png' %}" style="height: 250px; width:700px">
                    <div>
                        <p><strong>Nombre: </strong>XBOX SERIE X</p>
                        <p><strong>Precio: </strong>$ 290000</p>
                        <p><strong>Categoria: </strong>Controles</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="teclados">
            <h2>TECLADOS</h2>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/teclado1.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>TECLADO 1</p>
                        <p><strong>Precio: </strong>$ 200000</p>
                        <p><strong>Categoria: </strong>Teclados</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/teclado2.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>TECLADO 2</p>
                        <p><strong>Precio: </strong>$ 250000</p>
                        <p><strong>Categoria: </strong>Teclados</p>
                    </div>
                </div>
            </div>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/teclado3.jpg' %}" style="height: 250px; width:350px">
                    <div>
                        <p><strong>Nombre: </strong>TECLADO 3</p>
                        <p><strong>Precio: </strong>$ 300000</p>
                        <p><strong>Categoria: </strong>Teclados</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/teclado4.jpg' %}" style="height: 250px; width:700px">
                    <div>
                        <p><strong>Nombre: </strong>TECLADO 4</p>
                        <p><strong>Precio: </strong>$ 210000</p>
                        <p><strong>Categoria: </strong>Teclados</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="auriculares">
            <h2>AURICULARES</h2>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/audi1.jpeg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>AURICULAR 1</p>
                        <p><strong>Precio: </strong>$ 230000</p>
                        <p><strong>Categoria: </strong>Auriculares</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/audi2.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>AURICULAR 2</p>
                        <p><strong>Precio: </strong>$ 250000</p>
                        <p><strong>Categoria: </strong>Auriculares</p>
                    </div>
                </div>
            </div>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/audi3.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>AURICULAR 1</p>
                        <p><strong>Precio: </strong>$ 300000</p>
                        <p><strong>Categoria: </strong>Auriculares</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/audi4.jpg' %}" style="height: 250px; width:700px">
                    <div>
                        <p><strong>Nombre: </strong>AURICULAR 2</p>
                        <p><strong>Precio: </strong>$ 210000</p>
                        <p><strong>Categoria: </strong>Auriculares</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="monitores">
            <h2>MONITORES</h2>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/monitor1.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>MONITOR 1</p>
                        <p><strong>Precio: </strong>$ 1500000</p>
                        <p><strong>Categoria: </strong>Monitores</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/monitor2.jpeg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>MONITOR 2</p>
                        <p><strong>Precio: </strong>$ 2500000</p>
                        <p><strong>Categoria: </strong>Monitores</p>
                    </div>
                </div>
            </div>
            <div id="categoria">
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/monitor3.jpg' %}" style="height: 250px;">
                    <div>
                        <p><strong>Nombre: </strong>MONITOR 1</p>
                        <p><strong>Precio: </strong>$ 3000000</p>
                        <p><strong>Categoria: </strong>Monitores</p>
                    </div>
                </div>
                <div id="subCategoria">
                    <img src="{% static 'img/Elements/monitor4.jpg' %}" style="height: 250px; width:700px">
                    <div>
                        <p><strong>Nombre: </strong>MONITOR 2</p>
                        <p><strong>Precio: </strong>$ 2300000</p>
                        <p><strong>Categoria: </strong>Monitores</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>