
body{
    background: #545454;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid grey;
    padding: 30px;
}

button{
    background: black;
    color: white;
    margin: 5px;
    padding: 5px;
}

header{
    background: #5cde3d;
    display: flex;
    justify-content: center;
    padding: 50px;
}

main{
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #616f5d;
}
#informacion{
    display: flex;
    align-items: center;
}

#informacion img{
    margin-right: 20px;
}

#datos{
    display: flex;
    flex-direction: column;
}

#datos div{
    display: flex;
    align-items: center;
}

#log{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
}

h2{
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#pagCategorias{
    flex-direction: column;
}

#pagCategorias section{
    box-shadow: 0px 0px 10px;
    margin: 20px 0;
    padding: 20px;
}

#categoria{
    display: flex;
    margin: 20px;
}

#categoria img{
    max-width: 300px;
}

#subCategoria{
    display: flex;
}

#infoCat{
    box-shadow: 0px 0px 10px;
    margin: 20px 0;
    padding: 20px;
}

.superpuesta {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s , transform 0.3s;
}
.superpuesta:hover{
    opacity: 1;
    transform:scale(1.2);
    z-index: 5;
}
.img1 {
    z-index:  1;
    margin: 0px;
    width: 400px;
    height: 300px;
}

.img2 {
    z-index: 2;
    margin: 45px;
    width: 400px;
    height: 300px;
}
.img3 {
    z-index: 3;
    margin: 100px;
    width: 400px;
    height: 300px;
}

