<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="/">
                <button style="color:black; background: #09d914; width: 100px; height:30px">INICIO</button>
            </a>
        </section>
        <img src="{% static 'img/logo.png' %}" width="70">
    </nav>
    <header id="log">
        <section style="margin: 30px;">
            <h2 style="text-align: center;">Registrate</h2>
            <form method="post">
                {% csrf_token %}
                <div class="dat" style="margin-right: 10px;">
                    <strong>Nombres: </strong>
                    <input style="width: 215px;" name="nombre" type="text" required>
                </div>
                <div class="dat" style="margin-right: 10px;">
                    <strong>Primer Apellido: </strong>
                    <input style="width: 167px;" name="priApellido" type="text" required>
                </div>
                <div class="dat" style="margin-right: 10px;">
                    <strong>Segundo Apellido </strong>
                    <input style="width: 163px;" name="segApellido" type="text" required>
                </div>
                <div class="dat" style="margin-right: 10px;">
                    <strong>Correo: </strong>
                    <input style="width: 230px;" name="correo" type="email" required>
                </div>
                <div class="dat" style="margin-right: 10px;">
                    <strong>Usuario: </strong>
                    <input style="width: 224px;" name="usuario" type="text" required>
                </div>
                <div class="dat" style="margin-right: 10px;">
                    <strong>Contraseña: </strong>
                    <input style="width: 200px;" name="contraseña" type="password" required>
                </div>
                <p style="text-align: center;"><button style="width: 100px; height:30px" type="submit">Registrarse</button>
                <a href="/login"><button style="width: 100px; height:30px">LOGIN</button></a></p>
                <p>{{error}}</p>
            </form>
        </section>
        <img id="logoPoli" src="{% static 'img/poli.png' %}">
    </header>
    <main>
        <section>
            <strong>Habilidades:</strong>
            <p>Estudiar</p>
            <p>Hacer Deporte</p>
            <p>Programar</p>
            <strong>Herramientas:</strong>
            <p>Java, c++, python</p>
        </section>
        <section id="informacion">
            <img style="margin: 30px;" src="{% static 'img/imagenPersonal.jpg' %}" width="200">
            <div id="datos">
                <div>
                    <strong>Nombres: </strong><p>Cristian Camilo</p>
                </div>
                <div>
                    <strong>Apellidos: </strong><p>Grajales Serna</p>
                </div>
                <div>
                    <strong>Cedula: </strong><p>1001446585</p>
                </div>
                <div>
                    <strong>Correo: </strong><p>cristian_grajales82222@elpoli.edu.co</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>