<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="/">
                <button style="color:black; background: #09d914; width: 100px; height:30px">INICIO</button>
            </a>
        </section>
        <img src="{% static 'img/logo.png' %}" width="70">
    </nav>
    <header id="log">
        <img id="logoPoli" src="{% static 'img/poli.png' %}">
        <br>
        <section>
            <h2 style="text-align: center;">Inicia Sesion</h2>
            <form method="post">
                {% csrf_token %}
                <div>
                    <strong>Usuario: </strong>
                    <input style="width: 194px;" name="usuario" type="text" required>
                </div>
                <div>
                    <strong>Contraseña: </strong>
                    <input name="contraseña" type="password" required>
                </div>
                
                <p><button style="width: 100px; height:30px" class="boton" type="submit">Iniciar Sesion</button>
                <a href="/registro"><button style="width: 100px; height:30px" class="boton">REGISTRO</button></a></p>
                <p>{{ error }}</p>
            </form>
            
        </section>
    </header>
    <main>
        <section>
            <strong>Habilidades:</strong>
            <p>Estudiar</p>
            <p>Hacer Deporte</p>
            <p>Programar</p>
            <strong>Herramientas:</strong>
            <p>Java, c++, python</p>
        </section>
        <section id="informacion">
            <img style="margin: 30px;" src="{% static 'img/imagenPersonal.jpg' %}" width="200">
            <div id="datos">
                <div>
                    <strong>Nombres: </strong><p>Cristian Camilo</p>
                </div>
                <div>
                    <strong>Apellidos: </strong><p>Grajales Serna</p>
                </div>
                <div>
                    <strong>Cedula: </strong><p>1001446585</p>
                </div>
                <div>
                    <strong>Correo: </strong><p>cristian_grajales82222@elpoli.edu.co</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>